
.userPro {
    text-align: center;
    height: 250px;
    background-image: url("../../assets/profileAssets/macbook.jpeg");
    background-size: cover;
    position: relative;
    margin-bottom: 150px;
    margin-top: 0px;
    font-style: oblique;
    /*font-size: 2em;*/
    width:100%;
    float: right;
    border: 10px;
    border-color: black;
}
.userName {
  font-size: 4rem;
  font-family:fantasy;
  color: white;
   align: center;
   padding-top: 20px;
}
.imgPro.ui {
    width: 200px;
    height: 200px;
    font-size: 1em;
    background-image: url("../../assets/profileAssets/Icon-user.jpeg");
    background-size: cover;
    border: 2px solid;
    border-color: white;
    position: absolute;
    margin-top: 0px;
    bottom: -100px;
    left: calc(47% - 75px);
}
.styleLinks {
  display: inline-flex;
  flex-flow: row;
  padding: 20px;
  justify-content: center;
  align-items: center;
}

.userName {
  padding-top: 35px;
}
.numStyle{
  color: white;
  font-size: 3rem;
  padding-bottom: 10px;
}
.projectButton {
  position: relative;
}
