.App {
  text-align: center;
  poition: relative;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.posts {
  text-align: center;
}
.comments {
  text-align: center;
}
.commentRow {
  margin-left: 75px;
}
#postForm {
  width: 50%
}
.HomeContainer {
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row;
}
.FeedContainer {

}
.JobsContainer {
margin-right: 65px;
margin-top: 40px;
flex: 3 6 80%;
order: 3;
}
/*ul {
    list-style-type: none;
    position: absolute;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    width: 20 %;
    height: 100%;

}*/

/*.navbar-li {
    position: absolute;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
    width: 20%;
    height: 100%;
}*/
